<% layout("/layouts/boilerplate") %>
  <body>
    
    <br>
    <div class="row">
      <div class="col-8 offset-2">
        <h3>Blog Details :</h3>
    <div class="show-card" style="width: 20rem;">
      <img src="<%= listing.image %>" class="card-img-top show-image" alt="listing-image">
      <br>
    </div>
   <br>
     <div class="show-card-title"><b><%= listing.title %></b></div>
    <br>
        <div class="show-card-text"> <%= listing.description %></div>
    <br />
    <div class="btns">
    <div class="btnedit">
    <a href="/blogs/<%= listing._id %>/edit"> <button class="btn btn-dark"> Edit this Blog </button></a> 
  </div>
  <div class="btndlt">
    <form method="POST" action="/blogs/<%=listing._id%>?_method=DELETE">
      <button class="btn">Delete this Blog</button>
 </div>
</div>
      <br><br>
    </form>
  </div>
  </div>
  </body>

